<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eduapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".EditDelActivity" />
        <activity android:name=".AddTaskActivity" />
        <activity android:name=".TaskActivity" />
        <activity android:name=".study_material.text_books.class6" />
        <activity
            android:name=".posts.AnswerActivity"
            android:label="Reply"
            android:parentActivityName=".posts.PostActivity" />
        <activity android:name=".posts.PostActivity" />
        <activity android:name=".study_material.text_books.class10" />
        <activity android:name=".study_material.text_books.class9" />
        <activity android:name=".study_material.text_books.class8" />
        <activity android:name=".study_material.text_books.class7" />
        <activity android:name=".study_material.ClassRoomPanel" />
        <activity
            android:name=".posts.CreateActivity"
            android:label="Post"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>